.product-card {
    height: 384px;
    width: 289px;
    background: #F5F5F5;
    margin-right: 20px;
    margin-bottom: 20px;

}

.product-name {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #3E424B;
    padding: 0px 30px 10px 22px;

}

.product-price {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #BB8C5F;
   padding: 0px 166px 0px 30px;
}

.product-svg {
 position: absolute;
 margin: 35px 34px 331px 235px;
}

.card-wrapper2 {
    padding: 124px 352px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 289px);
    grid-auto-rows: repeat(4, 384px);
}

.button1 {
    width: 6px;
    height: 6px;
    background: #524336;
    margin-right: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button {
    width: 6px;
    height: 6px;
    background: #E3E3E3;
    margin-right: 6px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.product-button {
    display: flex;
    padding-left: 121px;
}
























.card-wrapper2 {
    padding: 124px 352px;
}