body {
    background: #EEEEEE;
}

.main-text {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #BB8C5F
}

.main-block {
    align-items: flex-start;
    padding: 14px 24px;
    gap: 10px;
    width: 204px;
    height: 48px;
    border: 1px solid #BB8C5F;
    background: #F5F5F5;
    margin-right: 20px;
}

.card-wrapper {
    display: flex;
    margin-left: 352px;
}